body{
font-family: 'Libre Baskerville', 'PT Serif', serif;
}


#navstuff{
  color:#506034;
  text-align: right;
}

ul.navbar-nav {
 margin-left:80%;
}

.navbar-dark{
  background-color: #000 !important;
}

#container{
  margin: inherit;
  background-color: #000;
  color: white;
  max-width: 100%;
  position: inherit;
}

.banner{
  max-width:1000px;
  width:100%;
}

.c3-legend-item{
  fill: white !important;
}

.c3{
  fill: white !important;
}

.vid{
  max-width: 500px;
  width:100%;
}

.head{
  color: #506034;
  text-align: center;
  border-style: dotted;
}

#foot{
  border-style: hidden;
  background-color: #000;
  color: #506034;
  text-align: center;
}

p{
  line-height: 2;
}
div.gallery {
  margin: 2px;
  border: 1px solid #ccc;
  width: 150px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  body {
    color: lightblue !important;
  }
}
