body{
font-family: 'Libre Baskerville', 'PT Serif', serif;
}


#navstuff{
  color:#506034;
  text-align: right;
}

ul.navbar-nav {
 margin-left:80%;
}

.navbar-dark{
  background-color: #000 !important;
}

#container{
  margin: inherit;
  background-color: #000;
  color: white;
  max-width: inherit;
}

.banner{
  max-width:1000px;
  width:100%;
}

.c3-legend-item{
  fill: white !important;
}
