#body{
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: left;
  max-width: inherit;
}

.intro{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  max-width: 800px;
  margin-top: 25px;
  margin-bottom: 25px;
}

a{
  text-decoration: none;
}

a.link{
  color: #e0162b;
}

a.hover{
  color: #0052a5;
}

a.visited{
  color: #999;
}

p{
 text-align:left;
 line-height:180%;
 font-family: 'PT Serif', serif;
 font-size: 1em;
}

.red {
 color: #e0162b;
 width: 15px;
}

.blue {
 color: #0052a5;
 width: 15px;
}

.bg-dark {
 background:#000 !important;
}

ul.navbar-nav {
 margin-left:75%;
}

.navbar-brand{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.25em;
}

.hero-image{
  width: 100%;
  max-width: 900px;
}

.headline{
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  font-weight: 700;
}

.byline{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  font-weight: 700;
}

#foot{
  background-color: black;
  color: white;
  padding: 25px;
  height: 100px;
}

.chap{
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 700;
  padding-top: 20px;
  width: 100%;
}

.stack-image{
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-top:30px;
}

.caption{
 width:100%;
 max-width:500px;
 margin:0 auto;
 padding-bottom:30px;
 font-family: 'Montserrat', sans-serif;
 color:#999;
}

.graphic-container {
 padding-top:30px;
 padding-bottom:30px;
 border-top:1px solid #cdcdcd;
 border-bottom:1px solid #cdcdcd;
 font-family: 'Montserrat', sans-serif;
 margin:0 auto;
}

.graphic-container h2{
  font-size: 2em;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: black;
    color: white;
  }
